p {
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.pads {
    padding: 0 210px;
}

.flexbox {
    display: flex;
}

.header {
    justify-content: space-between;
    background-color: #1F2937;
    align-items: end;
    min-height: 42px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    flex: 0 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-left: 24px;;
}

.maintext {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.secondarytext {
    color: #E5E7EB;
}

.body-one {
    background-color: #1F2937;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 200px;
}

.body-one-left {
    flex: 1;
    margin-right: 30px;
}

.body-one-right {
    min-width: 240px;
    overflow: hidden;
}

#main-img {
    width: 240px;
    height: 300px;
    object-fit: cover;
    object-position: bottom;
}

.body-two {
    text-align: center;
}

#info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-top: 48px;
    margin-bottom: 48px;
}

.body-two .container {
    flex-wrap: wrap;
    margin-bottom: 110px;
    gap: 64px;
    justify-content: center;
}

.infocard {
    width: 195px;
}

.icon {
    width: 195px;
    height: 195px;
    object-fit: cover;
    border: 5px solid #3882F6;
    border-radius: 12px;
}

.body-three {
    background-color: #E5E7EB;
    padding-top: 110px;
    padding-bottom: 110px;
}

.body-three .container {
    max-width: 1200px;
    margin: auto;
}

#quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 8px;
}

#quote-author {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}

.body-four {
    justify-content: center;
    align-items: center;
}

.blue-box {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    margin-top: 110px;
    margin-bottom: 110px;
    padding: 48px 110px;
    flex: 1;
    display: flex;
    justify-content: space-between;
}

#call-to-action {
    font-weight: bolder;
    font-size: 24px;
}

.footer {
    background-color: #1F2937;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 6px;
    padding: 10px 34px;
    font-weight: bold;
    border: none;
    font-size: 18px;
    margin-top: 12px;
}

.body-four button  {
    border: 3px solid white;
}